<div class="container" id="i18_publications">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publications.publications">Publications</span></h1>
        </div>
    </div>
    <div class="row features-block">
      <h2 >Ph.D. thesis</h2>
        <!––phd-->
      </div> <ul style="list-style-type: none">
       <li class="entry wow zoomIn">
         <h4><strong>To be published after my defense. Stay tuned!</strong>
       </h4>
         Hassan Mortada<br />
          <br /> </li> </ul>

<div class="row features-block">
          <h2 >Journal Papers</h2>
            <!––sigpro18-->
        </div> <ul style="list-style-type: none">
           <li class="entry wow zoomIn">
             <h4><strong>Parameterized source separation for delayed spectroscopic signals.</strong>
           </h4>
             H. Mortada, V. Mazet, C. Soussen, C. Collet and L. Poisson. Preprints<br />
              <br /> </li> </ul>

<div class="row features-block">
              <h2 >Conference Papers</h2>
              <!––whispers18-->
              </div> <ul style="list-style-type: none">
              <li class="entry wow zoomIn">
              <h4><strong>Spectroscopic decomposition of astronomical multispectral images using B-splines.</strong>
              <a href=https://drive.google.com/open?id=18lVTMJKfIA9zH9yEh0Kb_vQzwR5B3Ilx target="blank"><i class="fa fa-file-pdf-o"></i></a>
              </h4>
              H. Mortada, V. Mazet, C. Soussen and C. Collet.   IEEE Whispers 2018, september 2018.<br />
              <br /> </li> </ul>
<div class="row features-block">
              <!––gretsi17-->
              </div> <ul style="list-style-type: none">
              <li class="entry wow zoomIn">
              <h4><strong>Séparation de sources retardées et paramétriques.</strong>
              <a href=https://drive.google.com/open?id=1jc-E5S6oWgXuADGtOB9EFz8IgWtp2KIf target="blank"><i class="fa fa-file-pdf-o"></i></a>
              </h4> H. Mortada, V. Mazet, C. Soussen and C. Collet.  GRETSI 2017 5-8 september 2017, Juan-les-Pins, France.<br />
              <br /> </li> </ul>

<div class="row features-block">
              <!––eusipco17-->
               </div> <ul style="list-style-type: none">
               <li class="entry wow zoomIn">
               <h4><strong>Separation of Delayed Parameterized Sources.</strong>
               <a href=https://drive.google.com/open?id=1zChiO_izNNRffYYWbMqWLdas1lsOnQSg target="blank"><i class="fa fa-file-pdf-o"></i></a>
               </h4> H. Mortada, V. Mazet, C. Soussen and C. Collet.  EUSIPCO 2017, 28 august-2 september 2017, Kos Island, Greece.<br />
               <br /> </li> </ul>



    </div>
